*{
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
}
a:link{color: white;}
a:hover{color: #E6B583;}
a:active{color: white;}
a:visited{color: white;}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 100px;
    background-color: #129CEB;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    display: block;
    width: 220px;
    text-align: center;
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.6px;
}
section{
    height: 895px;
    background-image: url(img/miyazakihayaoindex.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #129CEB;}
